<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Attendance Manager</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='themeManager.js') }}"></script>
    <script src="{{ url_for('static', filename='changeLocale.js') }}"></script>
    <script src="{{ url_for('static', filename='toggleProfileMenu.js') }}"></script>

    <script src="{{ url_for('babel_catalog') }}"></script>
    <meta id="locale_route" data-name="locale_route" data-other="{{ url_for('change_locale', locale='__locale__') }}">
    <meta id="theme_route" data-name="locale_route" data-other="{{ url_for('toggle_theme') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <html data-theme="{{ theme }}"></html>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="header" style="position: relative;">
        <a href="{{ url_for('home') }}" class="no-link-style"><h1 style="margin: 0;">Attendance Manager</h1></a>
        <div class="profile-menu">
            <div>
                <button id="themeToggleBtn" class="theme-button" aria-label="Toggle Theme" onclick="toggleTheme()">
                    <i id="themeIcon" class="fas fa-moon"></i>
                </button>
            </div>
            <div class="language-selector">
                <select title="{{ _('Select Language') }}" id="locale-select">
                    <option onclick="changeLocale('en')" {% if user %}{% if user.locale == "en" %}selected{% endif %}{% endif %}>🇬🇧 English</option>
                    <option onclick="changeLocale('nl')" {% if user %}{% if user.locale == "nl" %}selected{% endif %}{% endif %}>🇳🇱 Dutch</option>
                </select>
            </div>

            <button id="profileBtn" class="profile-icon" aria-label="Profile" onclick="toggleProfileMenu()">
                {% if user and user.profile_picture %}
                    <img src="data:image/png;base64,{{user.profile_picture}}" alt="Profile Picture">
                {% else %}
                    <!-- Simple SVG user icon as placeholder -->
                    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="8" r="4"/>
                    <path d="M4 20c0-4 4-6 8-6s8 2 8 6"/>
                    </svg>
                {% endif %}

            </button>
            {% if user %}

                <div id="profileDropdown" class="profile-dropdown" style="display: none;">
                    <p class="dropdown-item-text">{{ _("Logged in as") }}: {{ user.username }}</p>
                    <a href="{{ url_for('profile') }}" class="dropdown-item">{{ _("Profile") }}</a>
                    <a href="{{ url_for('logout') }}" class="dropdown-item">{{ _("Sign Out") }}</a>
                </div>

            {% else %}

                <div id="profileDropdown" class="profile-dropdown" style="display: none;">
                    <a href="{{ url_for('login') }}" class="dropdown-item">{{ _("Login") }}</a>

                </div>
            
            {% endif %}
        </div>

    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 2025 Attendance Manager</p>
    </footer>
</body>
</html>