{% extends 'base.html' %}
{% block title %}Create Person - Attendance Manager{% endblock %}
{% block content %}
    <h2 class="centered">Add New Person</h2>
    <a href="{{ url_for('view_group', group_id=group.id) }}" class="return-button">< Back</a>
    <div class="form-container">
        <form method="POST" action="{{ url_for('create_person', group_id=group.id) }}">
            <label for="names">{{ _("Names:") }}
                <span class="tooltip-container">
                    <i class="fa-solid fa-circle-question"></i>
                    <span class="tooltip-text">{{ _("Enter one name per line.") }} <br> {{ _("Or seperate the names with a comma.") }}</span>
                </span>
            </label>

            <textarea name="names" id="names" rows="5" style="width: 100%; resize:none;" required></textarea>

            <label for="role">{{ _("Role:") }} </label>
            <select name="role" id="role">  
                <option value="0">{{ _("Member") }}</option>
                <option value="1">{{ _("Counsil") }}</option>
                <option value="2">{{ _("Leader") }}</option>
            </select> <br> <br>

            <button type="submit" class="button"><i class="fa-solid fa-plus"></i> {{ _("Add Person") }}</button>
        </form>
        {% if error %}
            <div class="error-text">{{ error }}</div>
        {% endif %}
    </div>
{% endblock %}