{% extends 'base.html' %}
{% block title %}{{ _('Edit Person') }} - Attendance Manager{% endblock %}
{% block content %}
    <h2 class="centered">{{ _('Edit Person') }}</h2>
    <a href="{{ url_for('view_person', person_id=person.id) }}" class="return-button">&lt; {{ _('Back') }}</a>
    <div class="form-container">
        <form method="POST" action="{{ url_for('edit_person', person_id=person.id) }}">
            <input type="hidden" name="person_id" value="{{ person.id }}">

            <label for="name">{{ _('Name:') }} </label>
            <input type="text" name="name" id="name" value="{{ person.name }}" required>

            <label for="default_presence">{{ _('Default Presence:') }} </label>
            <select name="default_presence" id="default_presence">
                <option value="0" {% if person.default_presence == 0 %}selected{% endif %}>{{ _('Absent') }}</option>
                <option value="1" {% if person.default_presence == 1 %}selected{% endif %}>{{ _('Present') }}</option>
                <option value="2" {% if person.default_presence == 2 %}selected{% endif %}>{{ _('Late') }}</option>
            </select>

            <label for="role">{{ _('Role:') }} </label>
            <select name="role" id="role">  
                <option value="0" {% if person.role == 0 %}selected{% endif %}>{{ _('Member') }}</option>
                <option value="1" {% if person.role == 1 %}selected{% endif %}>{{ _('Counsil') }}</option>
                <option value="2" {% if person.role == 2 %}selected{% endif %}>{{ _('Leader') }}</option>
            </select> <br>

            <button type="submit" class="button"><i class="fa-solid fa-pen-to-square"></i> {{ _('Save Changes') }}</button>
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}