{% extends 'base.html' %}
{% block title %}{{ _('Groups') }} - Attendance Manager{% endblock %}

{% block content %}
    <h2 class="centered">{{ _('Your Groups') }}</h2>
    <div>
        <a href="{{ url_for('create_group') }}" class="button centered"><i class="fa-solid fa-plus"></i> {{ _('Create New Group') }}</a>
    </div>
    <div class="groups-container">
        {% if groups %}
            {% for group in groups %}
                <div class="group-card">
                    <h3>{{ group.group_name }}</h3>
                    <p>
                        {% if group.start_day == 0 %}
                            {{ _('Meeting Day: Monday') }}
                        {% elif group.start_day == 1 %}
                            {{ _('Meeting Day: Tuesday') }}
                        {% elif group.start_day == 2 %}
                            {{ _('Meeting Day: Wednesday') }}
                        {% elif group.start_day == 3 %}
                            {{ _('Meeting Day: Thursday') }}
                        {% elif group.start_day == 4 %}
                            {{ _('Meeting Day: Friday') }}
                        {% elif group.start_day == 5 %}
                            {{ _('Meeting Day: Saturday') }}
                        {% elif group.start_day == 6 %}
                            {{ _('Meeting Day: Sunday') }}
                        {% endif %}
                    </p>
                    <a href="{{ url_for('view_group', group_id=group.id) }}" class="button"><i class="fa-solid fa-magnifying-glass"></i> {{ _('View Group') }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="centered">{{ _('You have no groups.') }}</p>
        {% endif %}
    </div>
{% endblock %}