{% extends 'base.html' %}
{% block title %}Groups - Attendance Manager{% endblock %}

{% block content %}
    <h2 class="centered">Your Groups</h2>
    <div>
        <a href="{{ url_for('create_group') }}" class="button centered">Create New Group</a>
    </div>
    <div class="groups-container">
        {% if groups %}
            {% for group in groups %}
                <div class="group-card">
                    <h3>{{ group.group_name }}</h3>
                    <p>
                        {% if group.start_day == 0 %}
                            Meeting Day: Monday
                        {% elif group.start_day == 1 %}
                            Meeting Day: Tuesday
                        {% elif group.start_day == 2 %}
                            Meeting Day: Wednesday
                        {% elif group.start_day == 3 %}
                            Meeting Day: Thursday
                        {% elif group.start_day == 4 %}
                            Meeting Day: Friday
                        {% elif group.start_day == 5 %}
                            Meeting Day: Saturday
                        {% elif group.start_day == 6 %}
                            Meeting Day: Sunday
                        {% endif %}
                    </p>
                    <a href="{{ url_for('view_group', group_id=group.id) }}" class="button">View Group</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="centered">You have no groups. <a href="{{ url_for('create_group') }}">Create one now!</a></p>
        {% endif %}
    </div>
{% endblock %} 