{% extends 'base.html' %}
{% block title %}{{ _('Group People') }} - Attendance Manager{% endblock %}

{% block content %}
    <h2 class="centered">{{ _('People in %(group)s', group=group.group_name) }}</h2>
    <a href="{{ url_for('view_group', group_id=group.id) }}" class="return-button">&lt; {{ _('Back') }}</a>
    <div class="container centered">
        {% if people %}
            <div class="card-list">
                {% for person in people %}
                    {% if person.role == 2 %}
                        <a href="{{ url_for('view_person', person_id=person.id) }}" class="no-link-style">
                            <div class="person-card">
                                <div class="person-name">{{ person.name }}</div>
                                <div class="person-role role-2">
                                    {{ _('Leader') }}
                                </div>
                            </div>
                        </a>
                    {% endif %}

                    {% if person.role == 1 %}
                        <a href="{{ url_for('view_person', person_id=person.id) }}" class="no-link-style">
                            <div class="person-card">
                                <div class="person-name">{{ person.name }}</div>
                                <div class="person-role role-1">
                                    {{ _('Counsil') }}
                                </div>
                            </div>
                        </a>
                    {% endif %}

                    {% if person.role == 0 %}
                        <a href="{{ url_for('view_person', person_id=person.id) }}" class="no-link-style">
                            <div class="person-card">
                                <div class="person-name">{{ person.name }}</div>
                                <div class="person-role">
                                    {{ _('Member') }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>{{ _('No people in this group.') }}</p>
        {% endif %}
        <a href="{{ url_for('create_person', group_id=group.id) }}" class="button"><i class="fa-solid fa-plus"></i> {{ _('Add Person') }}</a>
    </div>
{% endblock %}