{% extends "base.html" %}

{% block content %}
    <div>
        <h1 class="home-title">Welcome to Attendance Manager</h1>
        <p class="home-description">This is the home page of your Attendance Manager application.</p>
        <!-- <a href="{{ url_for('signup') }}" class="button">Get Started</a> -->
        <h3 class="centered">Getting Started</h3>

        {% if user %}
            <a href="{{ url_for('groups') }}" class="listed-button button">Groups</a>
            <a href="{{ url_for('upcomming_meetings') }}" class="listed-button button">Meetings</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="listed-button button">Login</a>
        {% endif %}
        

    </div>
{% endblock %}