{% extends 'base.html' %}
{% block title %}{{ _('Meetings') }} - Attendance Manager{% endblock %}

{% block content %}
    <h2 class="centered">{{ _('Meetings') }}</h2>
    <div class="container centered">
        <form method="POST">
            <!-- TODO: Maybe want date filter -->
            <table class="attendance-table">
                <th>
                    {{ _('Future Only') }}
                </th>
                <th>
                    {{ _('Canceled') }}
                </th>
                <th>
                    {{ _('Group') }}
                </th>

                <tr>
                    <td>
                        <input type="checkbox" name="future_only" id="future_only" {% if future_only %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" name="canceled" id="canceled" {% if canceled%}checked{% endif %}>
                    </td>
                    <td>
                        <select name="group" id="group">
                            <option value="all">{{ _('All Groups') }}</option>
                            {% for group in groups %}
                                <option value="{{ group.id }}" {% if selected_group|int == group.id|int %}selected{% endif %}>{{ group.group_name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button">{{ _('Filter') }}</button>
        </form>
    </div>
        <div class="card-list centered">
            {% for meeting in meetings %}
                <a href="{{ url_for('view_meeting', meeting_id=meeting.id) }}" class="no-link-style">
                    <div class="meeting-card">
                        <div class="meeting-name">{{ meeting.group.group_name }}</div>
                        <div class="meeting-date">
                            {{ meeting.date_time.split("T")[0] }} {{ _('at') }} {{ meeting.date_time.split("T")[1][:5] }}
                        </div>
                    </div>
                </a>    
            {% endfor %}
        </div>
    </div>
{% endblock %}