{% extends 'base.html' %}
{% block title %}{{ _('Meetings') }} - Attendance Manager{% endblock %}

{% block content %}
    <h2 class="centered">{{ _('Meetings in %(group)s', group=group.group_name) }}</h2>
    <a href="{{ url_for('view_group', group_id=group.id) }}" class="return-button">&lt; {{ _('Back') }}</a>
    <div class="container centered">
        <div class="card-list">
            {% for meeting in meetings %}
                {{meeting}}

                <a href="{{ url_for('view_meeting', meeting_id=meeting.id) }}" class="no-link-style">
                    <div class="meeting-card">
                        <div class="meeting-name">{{ meeting.group_name }}</div>
                        <div class="meeting-date">
                                {{ meeting.date_time.split("T")[0] }} {{ _('at') }} {{ meeting.date_time.split("T")[1][:5] }}
                        </div>
                        <div style="text-align: left;">
                            {{ _("Organisers: ") }}{% for organiser in meeting.organisers %}{% if organiser != "" %}{{organiser['person']['name']}} {% endif %}{% endfor %} <br>
                            {{ _('Attendees: ') }}{{ meeting.attendances|length }}
                        </div>
                    </div>
                </a>    
            {% endfor %}
        </div>
    </div>
{% endblock %}