{% extends 'base.html' %}

{% block title %}
    {{ _('Verify Your Email') }}
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='emailTimer.js') }}"></script>
    <meta id="expiry_timestamp" data-name="expiry_timestamp" data-other="{{ expires }}">

    <div class="centered">
        <h2>{{ _('Verify Your Email') }}</h2>
        <p>{{ _('A verification email has been sent to your email address. ') }}<i>({{user.email}})</i> {{ _('Please check your inbox and click on the verification link to verify your email.') }}</p>
        <p>{{ _('If you did not receive the email, please check your spam folder or click the button below to resend the verification email.') }}</p>
        <a class="button" href="{{ url_for('verify_email_resend') }}" id="resend-email-button" disabled>{{ _('Resend Verification Email') }}</a>

        <div id="countdown-timer"></div>
    </div>
{% endblock %}