{% extends 'base.html' %}

{% block content %}
    <button onclick="history.back()" class="return-button">&lt; {{ _('Back') }}</button>

    <h2 class="centered">{{ _('Material Log for %(group)s', group=group.group_name) }}</h2>

    <div class="centered">
        <table class="attendance-table">
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Stripes') }}</th>
                <th>{{ _('Clear Marks') }}</th>
            </tr>
            
            {% for person in people %}
                {% if person.missing_material > 0 %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td {% if person.missing_material > 2 %}class="redtablecell"{% endif %}>
                            <span>
                                {% for i in range(person.missing_material) %}
                                    <i class="fa-solid fa-xmark"></i>
                                {% endfor %}
                            </span>
                        </td>
                        <td>
                            <a href="{{ url_for('clear_checks', person_id=person.id) }}" class="button" {% if person.missing_material < 3 %}onclick="return confirm({{ _('Are you sure? This person does not have 3 strikes yet.')|tojson }})"{% endif %}>{{ _('Clear Marks') }}</a>
                        </td>
                    </tr>
                {% endif %}
                
            {% endfor %}
        </table>
    </div>

    

{% endblock %}